<!-- HTML About page to give general insight about the app and the creators -->
{% extends "bootstrap_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About Our App</h1>

    <p>Welcome to the Spotify Recommender! Our goal is to help music fans find new hits that we think they will love based on their favorite artists. We hope you enjoy!</p>
       
       
        <h2 style="text-align:center">The Team</h2>
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="container">
                <h2>Abby Lee</h2>
                <p>B'23</p>
                <p>aal86@georgetown.edu</p>
              </div>
            </div>
          </div>
        
          <div class="row">
            <div class="card">
              <div class="container">
                <h2>Basil Bseiso</h2>
                <p>B'23</p>
                <p>bb1026@georgetown.edu</p>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="card">
              <div class="container">
                <h2>Perry Guloien</h2>
                <p>B'23</p>
                <p>pag101@georgetown.edu</p>
              </div>
            </div>
          </div>
        </div>




{% endblock %}