<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Narrow Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../css/editor.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="narrow-jumbotron.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="#" style="background-color: rgb(30, 215, 96);">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: rgb(28, 215, 96);">About Us</a>
            </li>
            <li class="nav-item">
              
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Artist Recommendation Tool</h3>
      </div>

      <div class="jumbotron">
        <h1 class="display-3">Find Artists You Like!</h1>
        <p class="lead">Please use this application to discover new artists on Spotify. Simply input your favourite artist to get new artist recommendations and curated playlists sent to your email.&nbsp;</p>
        <link rel="icon" href="../../../../favicon.ico">
        <p></p>
     
      <div class="btn-group" role="group" aria-label="Basic example" style=""> </div><div class="form-group" style="" data-dashlane-rid="c1c9f5f4d0fa973f" data-form-type=""><label>Please input the name of your favourite artist below.</label><input type="text" class="form-control" data-dashlane-rid="e293d304877ea827" data-form-type="other"></div></div>

      

      <footer class="footer">
        <p>Abby | Basil | Perry</p>
      </footer>

    </div> <!-- /container -->
  

</body>
</html>