<!-- HTML page to set the form page -->
{% extends "bootstrap_layout.html" %}
{% set active_page = "about" %}

{% block content %}

  <h2>Artist Recommendation Form</h2>

  <p>Enter your favorite artist's name to find similar artists and their top tracks...</p>

  <form action="/spotify" method="POST">

      <label>Artist Name:</label>
      <input type="text" name="artist_name" placeholder="Dua Lipa" value="Dua Lipa" 
      style = "all:unset; border-radius: 5px; border: 1px solid rgb(30, 215, 96); text-indent: 5px; background-color: rgb(255, 254, 254);">
      <br>
      <br>
      <button style="background-color: rgb(255, 255, 255); border-radius: 5px;border: 1px solid rgb(30, 215, 96);">Submit</button>
  </form>

{% endblock %}